// Imports
@import url('http://fonts.googleapis.com/css?family=Lato:400,100,300,700,700italic,100italic,400italic|Roboto+Condensed')
@import url('reset.css')
// Methods
vendors = webkit moz o ms official
background-size()
  for vendor in vendors
    if vendor == official
      background-size arguments
    else
      -{vendor}-background-size arguments

filter()
  for vendor in vendors
    if vendor == official
      filter arguments
    else
      -{vendor}-filter arguments

// Colors
customcols = 'blue' #3CA0D0, 'orange' #FF8900, 'purple' #BC38D3
hilight = #0077ff

// Styles
html
  color white
  box-sizing border-box

em
  font-style italic
  font-weight 400

strong
  font-weight 600

body
  font-family Lato, 'Helvetica Neue', sans-serif
  background-color #ddd
  color black

h1, h2, h3
  margin 0.2em 0

a
  color inherit
  text-decoration none

p 
  line-height 1.5em
  font-size 16pt
  margin-bottom 0.5em
  font-weight 300

hr 
  background url('background.jpg') no-repeat center center fixed
  background-size cover
  border none
  border-top 1px solid rgba(white,0.5)
  border-bottom 1px solid rgba(white,0.5)
  width 100%
  height 15px
  margin 1.2em auto

.wrapper
  margin 0 auto
  width 720px

.frontpage
  margin-top 0

  #header
    background url('background-blur50.jpg') no-repeat center center fixed
    background-size cover
    padding 20px 0 5px
    border-bottom 8px solid hilight
    color white

  h1
    font-family Lato, 'Helvetica Neue', sans-serif
    font-weight 100
    font-size 64pt
    text-transform uppercase
    text-align center
    text-shadow 0px 1px 1px rgba(black,0.5)
    letter-spacing -3pt

  .nav
    font-family 'Roboto Condensed', 'Helvetica Neue', sans-serif
    font-size 24pt
    font-style italic
    text-transform lowercase
    text-align center
    margin 0.2em 0
    padding 20px 0 0

    a
      padding 0 0.3em 6px 0.2em
      border-bottom 8px solid transparent
      color rgba(white,0.8)

      &:focus
        outline none

      &:hover
        border-color rgba(white,0.2)
        text-shadow 0 0 5px rgba(black,0.7)
        color white

      &.curr
        border-color rgba(white,0.5)
        text-shadow 0 0 5px rgba(black,0.9)
        background-color rgba(white,0.1)
        color white

  #content
    margin-top 50px
    font-size 16px
    line-height 20px
    text-shadow 0 0 5px #ddd
    color black
    padding-bottom 50px

    p a
      padding 0px 3px
      border-bottom 2px solid hilight

      &:hover
        color hilight

    h3
      font-size 24px
      margin-top 1em

    img
      float left
      max-width 225px
      margin 0 10px 0 0
      background-color rgba(white,0.15)
      padding 7px

.construction
  margin 250px auto
  text-align center

  img
    filter drop-shadow(0 0 2px black)
